  
*, *::after, *::before {
    box-sizing: border-box;
}
  
.image-view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: auto;
    max-width: 50%;
    padding: 1rem;
}

.image-view.active {
    transform: translate(-50%, -50%) scale(1);
}

.image-view-body {
    padding: 1.2rem 5rem 0.5rem 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.image-view-footer {
    padding: 10px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


#image-view-overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#image-view-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.image-view-btn {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: thin;
}

#close-btn {
    font-size: 0.8rem !important;
    background: rgb(202, 85, 85);
}

#close-btn:hover {
    background: rgb(201, 131, 131);
}

.image-view-target {
    width: 800px;
    height: 600px;
    border: black solid 1px;
    border-radius: 1rem;
}