body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 960px;
    display: flex;
    flex-flow: column nowrap;
}

body {
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #cb218e 0%, #6617cb 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header */
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #18191A;
}

.header a {
    text-decoration: none;
}

.header-title {
    margin: 0 0 0 1rem;
    color: #E4E6EB;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem;
}

.nav-item {
    list-style: none;
    padding: 1em;
    font-weight: 600;
    color: #909397;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    transition: all .1s linear;
}

.nav-item:hover {
    color: #E4E6EB;
}

/* info box config. */
.content {
    height: 100%;
    width: 100%;
}

.info-box {
    margin: 5% 20%;
    background: #E4E6EB;
    border-radius: 2.5rem;
    color: #18191A;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

/* -text- */
.text-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.text-box h1 {
    margin-bottom: 0rem;
    font-size: 2.5rem;
}

.text-box p {
    margin-bottom: 2rem;
    font-weight: 600;
}

/* -table- */
.table-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 2rem;
}

.table-box table {
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0.95rem 1rem rgba(0, 0, 0, 0.15);
}

.table-box table thead tr {
    background-color: #18191A;
    color: #ffffff;
}

.table-box table thead tr :first-child {
    border-top-left-radius: 1rem;
}

.table-box table thead tr :last-child {
    border-top-right-radius: 1rem
}

.table-box table th, .table-box td {
    padding: 0.7rem;
}

.table-box table tbody tr {
    border-bottom: .15rem solid #dddddd;
}

.table-box table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-box table tbody tr:last-of-type {
    border-bottom: .15rem solid #18191A;
}

.table-box  tbody tr.active-row {
    font-weight: bold;
    color: #18191A;
}

.table-image {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    height: auto;
}

.section-separator {
    margin: 0.5rem 0 0.5rem 0;
    border-top: 3px solid #18191A;;
}

.map-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.map-container > * {
    width: 80%;
}

.map-info-container {
    margin: 0 auto;
    text-align: center;
}

.map-info-container p {
    font-weight: 600;
}

#map {
    margin: 3rem auto;
    height: 360px;
}